# Spring Boot config (exclude sensitive secrets)
application.properties
.env
/config/application-secrets.yaml

# Logs
*.log

# Compiled class files
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Exclude nested target folders in src (optional)
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Temporary/Backup files
*.tmp
*.swp
*.bak
*.old
